.bodysite {
  /* background-image: url(/sourch/—Pngtree—abstract\ line\ banner_335356.png); */
  background-size: 100vw 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(231, 231, 231);
  padding: 3rem 5rem 5rem 10rem;
}
/* CSS cho mục         Giải trí */
div.bodysite div.bd-giaitri {
  position: relative;
}
div.bodysite div.bd-giaitri a {
  font-size: 2rem;
  text-decoration: none;
  color: #ff3636;
  line-height: 120%;
  margin: 0.5rem;
  border-radius: 100px;
  padding: 0.5rem 1rem;
}
div.bodysite div.bd-giaitri a:hover {
  background-color: rgb(87, 87, 255);
  color: white;
}
/* CSS cho mục  GT-facebook */
div.bodysite div.bd-giaitri div.GT-facebook,
div.bodysite div.bd-giaitri div.GT-instagram,
div.bodysite div.bd-giaitri div.GT-tiktok {
  padding-left: 1rem;
  width: 100%;
  overflow: hidden;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
}
div.bodysite div.bd-giaitri div.GT-facebook iframe,
div.bodysite div.bd-giaitri div.GT-instagram iframe,
div.bodysite div.bd-giaitri div.GT-tiktok iframe {
  border-radius: 8px;
}
div.bodysite div.bd-giaitri div.GT-facebook .video-fb,
div.bodysite div.bd-giaitri div.GT-instagram .video-ins,
div.bodysite div.bd-giaitri div.GT-tiktok .video-tiktok {
  transition: transform 0.5s;
}

div.bodysite div.bd-giaitri div.GT-facebook .fb-btn-next,
div.bodysite div.bd-giaitri div.GT-instagram .ins-btn-next,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-btn-next {
  position: absolute;
  top: 5rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  transform: translateX(0%);
}
div.bodysite div.bd-giaitri div.GT-facebook .fb-btn-previous,
div.bodysite div.bd-giaitri div.GT-instagram .ins-btn-previous,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-btn-previous {
  position: absolute;
  top: 5rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  transform: translateX(0%);
}
div.bodysite div.bd-giaitri div.GT-facebook button:hover,
div.bodysite div.bd-giaitri div.GT-instagram button:hover,
div.bodysite div.bd-giaitri div.GT-tiktok button:hover {
  background-color: rgb(51, 42, 42);
  color: white;
}
div.bodysite div.bd-giaitri div.GT-facebook .fb-logo img,
div.bodysite div.bd-giaitri div.GT-instagram .ins-logo img,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-logo img {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}
/* CSS cho mục mua sắm */
div.bd-muasam {
  margin-top: 1rem;
}
div.bd-muasam a {
  font-size: 2rem;
  text-decoration: none;
  color: #ff3636;
  line-height: 120%;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}
div.bd-muasam a:hover {
  background-color: rgb(87, 87, 255);
  color: white;
}
div.bd-muasam div.tmdt-vietnam {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
div.bd-muasam div.tmdt-vietnam div.ms-shopee,
div.bd-muasam div.tmdt-vietnam div.ms-lazada,
div.bd-muasam div.tmdt-vietnam div.ms-sendo,
div.bd-muasam div.tmdt-vietnam div.ms-tiki {
  width: 36rem;
  height: 60rem;
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
}
div.bd-muasam div.tmdt-vietnam div.ms-shopee div.shopee-line1,
div.bd-muasam div.tmdt-vietnam div.ms-shopee div.shopee-line2,
div.bd-muasam div.tmdt-vietnam div.ms-shopee div.shopee-line3,
div.bd-muasam div.tmdt-vietnam div.ms-lazada div.lazada-line1,
div.bd-muasam div.tmdt-vietnam div.ms-lazada div.lazada-line2,
div.bd-muasam div.tmdt-vietnam div.ms-lazada div.lazada-line3,
div.bd-muasam div.tmdt-vietnam div.ms-sendo div.sendo-line1,
div.bd-muasam div.tmdt-vietnam div.ms-sendo div.sendo-line2,
div.bd-muasam div.tmdt-vietnam div.ms-sendo div.sendo-line3,
div.bd-muasam div.tmdt-vietnam div.ms-tiki div.tiki-line1,
div.bd-muasam div.tmdt-vietnam div.ms-tiki div.tiki-line2,
div.bd-muasam div.tmdt-vietnam div.ms-tiki div.tiki-line3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  overflow: hidden;
  /* width: 45rem; */
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.sp-line1,
.sp-line2,
.sp-line3,
.lzd-line1,
.lzd-line2,
.lzd-line3,
.sendo-line1,
.sendo-line2,
.sendo-line3,
.tiki-line1,
.tiki-line2,
.tiki-line3 {
  height: auto;
  overflow: hidden;
  display: inline;
}
.sp-line1 img,
.sp-line2 img,
.sp-line3 img,
.lzd-line1 img,
.lzd-line2 img,
.lzd-line3 img,
.sendo-line1 img,
.sendo-line2 img,
.sendo-line3 img,
.tiki-line1 img,
.tiki-line2 img,
.tiki-line3 img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
}
/* -------------------------------------------------------------------------------- */
div.bd-muasam div.tmdt-china {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
/* * -------------------------ALIBABA----------------------------- */
div.bd-muasam div.tmdt-china div.ms-alibaba {
  width: 45rem;
  height: 48rem;
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
}
div.bd-muasam div.tmdt-china div.ms-alibaba div.alibaba-line1,
div.bd-muasam div.tmdt-china div.ms-alibaba div.alibaba-line2,
div.bd-muasam div.tmdt-china div.ms-alibaba div.alibaba-line3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  overflow: hidden;
  /* width: 45rem; */
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.alibaba-line1-1,
.alibaba-line1-2,
.alibaba-line1-3,
.alibaba-line1-4,
.alibaba-line1-5,
.alibaba-line1-6,
.alibaba-line2-1,
.alibaba-line2-2,
.alibaba-line2-3,
.alibaba-line2-4,
.alibaba-line2-5,
.alibaba-line2-6,
.alibaba-line3-1,
.alibaba-line3-2,
.alibaba-line3-3,
.alibaba-line3-4,
.alibaba-line3-5,
.alibaba-line3-6 {
  height: auto;
  overflow: hidden;
  display: inline;
}
.alibaba-line1-1 img,
.alibaba-line1-2 img,
.alibaba-line1-3 img,
.alibaba-line1-4 img,
.alibaba-line1-5 img,
.alibaba-line1-6 img,
.alibaba-line2-1 img,
.alibaba-line2-2 img,
.alibaba-line2-3 img,
.alibaba-line2-4 img,
.alibaba-line2-5 img,
.alibaba-line2-6 img,
.alibaba-line3-1 img,
.alibaba-line3-2 img,
.alibaba-line3-3 img,
.alibaba-line3-4 img,
.alibaba-line3-5 img,
.alibaba-line3-6 img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
}
/* ------------------------------------------TAOBAO */
div.bd-muasam div.tmdt-china div.ms-taobao {
  width: 45rem;
  height: 48rem;
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
}
div.bd-muasam div.tmdt-china div.ms-taobao div.taobao-line1,
div.bd-muasam div.tmdt-china div.ms-taobao div.taobao-line2,
div.bd-muasam div.tmdt-china div.ms-taobao div.taobao-line3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  overflow: hidden;
  /* width: 45rem; */
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.taobao-line1-1,
.taobao-line1-2,
.taobao-line1-3,
.taobao-line1-4,
.taobao-line1-5,
.taobao-line1-6,
.taobao-line2-1,
.taobao-line2-2,
.taobao-line2-3,
.taobao-line2-4,
.taobao-line2-5,
.taobao-line2-6,
.taobao-line3-1,
.taobao-line3-2,
.taobao-line3-3,
.taobao-line3-4,
.taobao-line3-5,
.taobao-line3-6 {
  height: auto;
  overflow: hidden;
  display: inline;
}
.taobao-line1-1 img,
.taobao-line1-2 img,
.taobao-line1-3 img,
.taobao-line1-4 img,
.taobao-line1-5 img,
.taobao-line1-6 img,
.taobao-line2-1 img,
.taobao-line2-2 img,
.taobao-line2-3 img,
.taobao-line2-4 img,
.taobao-line2-5 img,
.taobao-line2-6 img,
.taobao-line3-1 img,
.taobao-line3-2 img,
.taobao-line3-3 img,
.taobao-line3-4 img,
.taobao-line3-5 img,
.taobao-line3-6 img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
}

/* ------------------------------------------1688------------------- */
div.bd-muasam div.tmdt-china div.ms-1688 {
  width: 45rem;
  height: 48rem;
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 8px;
}
/* --------------------------1688 line */
div.bd-muasam div.tmdt-china div.ms-1688 div.ms-1688-line1,
div.bd-muasam div.tmdt-china div.ms-1688 div.ms-1688-line2,
div.bd-muasam div.tmdt-china div.ms-1688 div.ms-1688-line3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  overflow: hidden;
  /* width: 45rem; */
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}
.ms-1688-line1-1,
.ms-1688-line1-2,
.ms-1688-line1-3,
.ms-1688-line1-4,
.ms-1688-line1-5,
.ms-1688-line1-6,
.ms-1688-line2-1,
.ms-1688-line2-2,
.ms-1688-line2-3,
.ms-1688-line2-4,
.ms-1688-line2-5,
.ms-1688-line2-6,
.ms-1688-line3-1,
.ms-1688-line3-2,
.ms-1688-line3-3,
.ms-1688-line3-4,
.ms-1688-line3-5,
.ms-1688-line3-6 {
  height: auto;
  overflow: hidden;
  display: inline;
}
.ms-1688-line1-1 img,
.ms-1688-line1-2 img,
.ms-1688-line1-3 img,
.ms-1688-line1-4 img,
.ms-1688-line1-5 img,
.ms-1688-line1-6 img,
.ms-1688-line2-1 img,
.ms-1688-line2-2 img,
.ms-1688-line2-3 img,
.ms-1688-line2-4 img,
.ms-1688-line2-5 img,
.ms-1688-line2-6 img,
.ms-1688-line3-1 img,
.ms-1688-line3-2 img,
.ms-1688-line3-3 img,
.ms-1688-line3-4 img,
.ms-1688-line3-5 img,
.ms-1688-line3-6 img {
  width: 10rem;
  height: auto;
  border-radius: 8px;
}
/* ------------------------------------------------------------------------------------------------ */

div.bd-post {
  /* padding: 0 4rem 0 9rem; */
  display: flex;
  justify-content: space-between;
}
/* div.bodysite div.bd-post2 {
  display: flex;
  justify-content: space-between;
} */
div.bd-post div.post-dulich,
div.bd-post div.post-suckhoe,
div.bd-post div.post-food,
div.bd-post div.post-khampha,
div.bd-post div.post-taichinh,
div.bd-post div.post-mmo {
  width: 40rem;
  height: 22rem;
  border-radius: 8px;
  border: none;
  margin-top: 3rem;
  padding: 1rem;
  overflow: hidden;
}
div.bd-post div.post-dulich a,
div.bd-post div.post-suckhoe a,
div.bd-post div.post-food a,
div.bd-post div.post-khampha a,
div.bd-post div.post-taichinh a,
div.bd-post div.post-mmo a {
  background-color: transparent;
  color: #ff3636;
  line-height: 120%;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0 3rem 2rem;
}
div.bd-post div.post-dulich a:hover,
div.bd-post div.post-suckhoe a:hover,
div.bd-post div.post-food a:hover,
div.bd-post div.post-khampha a:hover,
div.bd-post div.post-taichinh a:hover,
div.bd-post div.post-mmo a:hover {
  background-color: rgb(87, 87, 255);
  color: white;
}
div.bd-post div.post-dulich div.dl-post1,
div.bd-post div.post-dulich div.dl-post2,
div.bd-post div.post-dulich div.dl-post3,
div.bd-post div.post-suckhoe div.sk-post1,
div.bd-post div.post-suckhoe div.sk-post2,
div.bd-post div.post-suckhoe div.sk-post3,
div.bd-post div.post-food div.food-post1,
div.bd-post div.post-food div.food-post2,
div.bd-post div.post-food div.food-post3,
div.bd-post div.post-khampha div.kp-post1,
div.bd-post div.post-khampha div.kp-post2,
div.bd-post div.post-khampha div.kp-post3,
div.bd-post div.post-taichinh div.tc-post1,
div.bd-post div.post-taichinh div.tc-post2,
div.bd-post div.post-taichinh div.tc-post3,
div.bd-post div.post-mmo div.mmo-post1,
div.bd-post div.post-mmo div.mmo-post2,
div.bd-post div.post-mmo div.mmo-post3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 8px;
  padding: 1rem;
  width: 38rem;
  height: 18rem;
}
div.bd-post div.post-dulich div.dl-post1 img,
div.bd-post div.post-dulich div.dl-post2 img,
div.bd-post div.post-dulich div.dl-post3 img,
div.bd-post div.post-suckhoe div.sk-post1 img,
div.bd-post div.post-suckhoe div.sk-post2 img,
div.bd-post div.post-suckhoe div.sk-post3 img,
div.bd-post div.post-food div.food-post1 img,
div.bd-post div.post-food div.food-post2 img,
div.bd-post div.post-food div.food-post3 img,
div.bd-post div.post-khampha div.kp-post1 img,
div.bd-post div.post-khampha div.kp-post2 img,
div.bd-post div.post-khampha div.kp-post3 img,
div.bd-post div.post-taichinh div.tc-post1 img,
div.bd-post div.post-taichinh div.tc-post2 img,
div.bd-post div.post-taichinh div.tc-post3 img,
div.bd-post div.post-mmo div.mmo-post1 img,
div.bd-post div.post-mmo div.mmo-post2 img,
div.bd-post div.post-mmo div.mmo-post3 img {
  width: 15rem;
  height: auto;
}
/* div.bd-post div.post-dulich div.dl-post1 h1,
div.bd-post div.post-dulich div.dl-post2 h1,
div.bd-post div.post-dulich div.dl-post3 h1,
div.bd-post div.post-suckhoe div.sk-post1 h1,
div.bd-post div.post-suckhoe div.sk-post2 h1,
div.bd-post div.post-suckhoe div.sk-post3 h1,
div.bd-post div.post-food div.food-post1 h1,
div.bd-post div.post-food div.food-post2 h1,
div.bd-post div.post-food div.food-post3 h1  */
.post-content h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
