div.bodysite div.bd-giaitri div.GT-facebook,
div.bodysite div.bd-giaitri div.GT-instagram,
div.bodysite div.bd-giaitri div.GT-tiktok {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 30rem;
  height: 90rem;
  position: relative;
  left: 15rem;
}
div.bodysite div.bd-giaitri div.GT-instagram {
  display: none;
}
div.bodysite div.bd-giaitri div.GT-tiktok {
  display: none;
}
div.bodysite div.bd-giaitri div.GT-facebook .fb-btn-next,
div.bodysite div.bd-giaitri div.GT-instagram .ins-btn-next,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-btn-next,
div.bodysite div.bd-giaitri div.GT-facebook .fb-btn-previous,
div.bodysite div.bd-giaitri div.GT-instagram .ins-btn-previous,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-btn-previous,
div.bodysite div.bd-giaitri div.GT-facebook .fb-logo img,
div.bodysite div.bd-giaitri div.GT-instagram .ins-logo img,
div.bodysite div.bd-giaitri div.GT-tiktok .tiktok-logo img {
  display: none;
}
div.bd-muasam {
  margin-top: 1rem;
  position: absolute;
  top: 6rem;
  right: 20rem;
}
div.bd-muasam div.tmdt-vietnam div.ms-shopee,
div.bd-muasam div.tmdt-vietnam div.ms-lazada,
div.bd-muasam div.tmdt-vietnam div.ms-sendo,
div.bd-muasam div.tmdt-vietnam div.ms-tiki,
div.bd-muasam div.tmdt-china div.ms-alibaba,
div.bd-muasam div.tmdt-china div.ms-taobao,
div.bd-muasam div.tmdt-china div.ms-1688 {
  width: 48rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 2rem;
}
div.bodysite div.bd-giaitri div.giaitriBtn {
  width: 15rem;
  display: flex;
  position: relative;
  left: 10rem;
  margin: 0rem 2rem 0 1rem;
}
div.bodysite div.bd-giaitri div.giaitriBtn img {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}
button.btnFacebook,
button.btnInstagram,
button.btnTiktok {
  font-size: 2rem;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  display: flex;
}
div.bodysite div.bd-giaitri div.giaitriBtn button:hover {
  color: whitesmoke;
  background-color: rgb(66, 94, 255);
}
